<div id="main-content-footer-container">
  <div class="footer-container" id="main-payment-footer-left">
    <div class="back-btn-container">
      <button class="button" type="button" name="back-button" onclick="navigateBackToOrderPage()">BACK</button>
    </div>
  </div>

  <div class="footer-container" id="main-payment-footer-middle">
           <form id="main-payment-footer-modifier">
               <label for="sum">Sum:</label>
               <output name="sum">{{ Sum  }}</output><br>

               <label for="tips">Tips:</label>
               <input id="tips" type="text" name="tips" placeholder="Legg til tips" min="0" step="1"><br>

               <label for="selectCupon">Velg kupong:</label>
               <select name="selectCupon" onload="">
              //TODO Link to javascript handler//
               </select><br>

               <label for="delivery">Levering:</label>
               <output name="delivery">{{ DeliveryPrice }}</output><br>

               <label for="total">Total:</label>
               <output name="total">{{ Sum + DeliveryPrice + Tips }}</output>-
           </form>
       </div>

  <div class="footer-container" id="main-payment-footer-right">
   <div id="pay-btn-container">
    <button class="button" type="button" name="pay-button" onclick="navigateToChoosePayment()">PAY</button>
</div>
</div>
<script>
function navigateToChoosePayment(){
	let tips = parseInt(document.getElementById("tips").value, 10);
	let discount = 0; // Send request to Rewards to calculate coupon discount

	const http = new XMLHttpRequest();
	const url = '/payments/{{ OrderID }}';
	http.open('PATCH', url);
  	http.setRequestHeader('Content-type', 'application/json; charset=utf-8');

  	let json = JSON.parse('{}');
 	json.tips = tips;
 	json.discount = discount;

 	http.send(JSON.stringify(json));

	http.onreadystatechange = function() {
		if (this.readyState == 4 && this.status == 200) {
			window.location.href = '/payment-pages/{{ OrderID }}?page=method'
		}
	}
}</script>