<div id="main-content-footer-container">
  <div id="choose-payment-footer-left">
    <div id="back-btn">
      <button type="button" name="back-button" onclick="navigateBackToChoosePaymentPage()">BACK</button>
    </div>
  </div>

  <div id="choose-payment-footer-right">
    <div id="cash-container-btn">
      <button id="cash-button" type="button" name="cash-button" onclick="location.href='/payment-pages/{{OrderID}}?page=cash'">Kontant</button>
    </div>

    <div id="stripe-container-btn">
	    <script src="https://checkout.stripe.com/checkout.js"></script>
	    <button id="stripe-button" class="button" type="button" name="card-button">Card</button>

    </div>

    <div id="paypal-container-btn">

    </div>
    
  </div>
</div>
