{% extends "template.html" %}

{% block title %} Payment {% endblock %}

{% block content %}

<div class="payment">
	Betal kontant
	<div class="preview">
		<table id="cashpreview">
			<tr>
				<td id="cashpreviewleft">
					<p>Bordnummer:</p>
					<p>Beløp å betale:</p>
				</td>
				<td>
					<p>xxxxxxx</p>
					<p>{{TotalPrice}}</p>
				</td>
			</tr>
		</table>
	</div>
	<table>
		<tr>
			<td></td>
			<td><button class="button" type="button" name="back-button" onclick="location.href='/payment-pages/{{OrderID}}?page=payment'">BACK</button></td>
			<td></td>
			<td></td>
			<td class="nospace"></td>
			<td></td>
			<td></td>
			<td><button id="cashpay-button" class="button" type="button" name="cashpay-button">PAY</button>
				<div id="myModal" class="modal">
					<!-- Modal content -->
					<div class="modal-content">
						<span class="close">&times;</span>
						<p>Payment in process, please wait for the waiter to collect payment...</p>
					</div>
				</div>


			</td>
			<td></td>
		</tr>
	</table>

	<script>
		//source: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_modal

		<!-- The Modal -->


		// Get the modal
		var modal = document.getElementById('myModal');

		// Get the button that opens the modal
		var btn = document.getElementById("cashpay-button");

		// Get the <span> element that closes the modal
		var span = document.getElementsByClassName("close")[0];

		// When the user clicks the button, open the modal
		btn.onclick = function() {
			modal.style.display = "block";
		}

		// When the user clicks on <span> (x), close the modal
		span.onclick = function() {
			modal.style.display = "none";
		}

		// When the user clicks anywhere outside of the modal, close it
		window.onclick = function(event) {
			if (event.target == modal) {
				modal.style.display = "none";
			}
		}
	</script>


	{% endblock %}
