{% extends "template.html" %}

{% block title %} Payment {% endblock %}

{% block content  %}

<div class="payment">
	Choose payment method
	<div class="preview">
		PLACEHOLDER FOR UPDATED ORDER
	</div>

	<table>
		<tr>
			<td></td>
			<td><button class="button" type="button" name="back-button" onclick="location.href='/'">BACK</button></td>
			<td></td>
			<td><button class="button" type="button" name="cash-button" onclick="location.href='/cashpay'">Kontant</button></td>
			<td><button class="button" type="button" name="PayPal-button">PayPal</button></td>
			
			<!-- https://stripe.com/docs/checkout#integration-custom -->
			<script src="https://checkout.stripe.com/checkout.js"></script>
			<td><button id="stripe-button" class="button" type="button" name="card-button">Card</button></td>
			<script>
				var handler = StripeCheckout.configure({
					key: '{{ stripe_publish_key  }}',
					image: 'https://stripe.com/img/documentation/checkout/marketplace.png',
					locale: 'auto',
					token: function(token) {
						const http = new XMLHttpRequest();
						const url = '/stripe-payment/{{ Order_ID }}';
						http.open('PUT', url);
						http.setRequestHeader('Content-type', 'application/json; charset=utf-8');
						token.pricePaid = {{ price }};
						http.send(JSON.stringify(token));
						
						http.onreadystatechange = function() {
							if (this.readyState == 4 && this.status == 200) {
								let json = JSON.parse(this.responseText);
								if (json.paymentComplete) {
									console.log("Payment complete");
									// TODO: Redirect user to a new page.
								} else { console.log("Payment not complete"); }		
							}
						}
						
					}
				});

				document.getElementById('stripe-button').addEventListener('click', function(e) {
					handler.open({
						name: 'Stripe payment',
						currency: 'nok',
						amount: {{ price }}
					});
					e.preventDefault();
				});

				window.addEventListener('popstate', function() {
					handler.close();
				});
						
			</script>			

			<td class="nospace"></td>
			<td></td>
			<td></td>
		</tr>
	</table>



{% endblock %}
